# Function Practice Exercises

Problems are arranged in increasing difficulty:
* Warmup - these can be solved using basic comparisons and methods
* Level 1 - these may involve if/then conditional statements and simple methods
* Level 2 - these may require iterating over sequences, usually with some kind of loop
* Challenging - these will take some creativity to solve

## WARMUP SECTION:

#### LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers *if* both numbers are even, but returns the greater if one or both numbers are odd
    lesser_of_two_evens(2,4) --> 2
    lesser_of_two_evens(2,5) --> 5

In [8]:
def lesser_of_two_evens(a,b):
    if a%2==0 and sum((a,b))%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [9]:
# Check
lesser_of_two_evens(2,4)

2

In [10]:
# Check
lesser_of_two_evens(2,5)

5

#### ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
    animal_crackers('Levelheaded Llama') --> True
    animal_crackers('Crazy Kangaroo') --> False

In [17]:
def animal_crackers(text):
    words=text.split()
    print(words)
    if words[0][0].lower()==words[1][0].lower():
        return True
    else:
        return False

In [18]:
# Check
animal_crackers('Levelheaded Llama')

['Levelheaded', 'Llama']

True

In [19]:
# Check
animal_crackers('Crazy Kangaroo')

['Crazy', 'Kangaroo']

False

#### MAKES TWENTY: Given two integers, return True if the sum of the integers is 20 *or* if one of the integers is 20. If not, return False

    makes_twenty(20,10) --> True
    makes_twenty(12,8) --> True
    makes_twenty(2,3) --> False

In [24]:
def makes_twenty(n1,n2):
    if 20 in (n1,n2) or sum((n1,n2))==20:
        return True
    else:
        return False

In [25]:
# Check
makes_twenty(20,10)

True

In [26]:
# Check
makes_twenty(2,3)

False

# LEVEL 1 PROBLEMS

#### OLD MACDONALD: Write a function that capitalizes the first and fourth letters of a name
     
    old_macdonald('macdonald') --> MacDonald
    
Note: `'macdonald'.capitalize()` returns `'Macdonald'`

In [29]:
def old_macdonald(name):
    return name[0].upper()+name[1:3]+name[3].upper()+name[4:]
    pass

In [30]:
# Check
old_macdonald('macdonald')

'MacDonald'

#### MASTER YODA: Given a sentence, return a sentence with the words reversed

    master_yoda('I am home') --> 'home am I'
    master_yoda('We are ready') --> 'ready are We'
    
Note: The .join() method may be useful here. The .join() method allows you to join together strings in a list with some connector string. For example, some uses of the .join() method:

    >>> "--".join(['a','b','c'])
    >>> 'a--b--c'

This means if you had a list of words you wanted to turn back into a sentence, you could just join them with a single space string:

    >>> " ".join(['Hello','world'])
    >>> "Hello world"

In [39]:
def master_yoda(text):
    words=text.split()
    words.reverse()
    return ' '.join(words)

In [40]:
# Check
master_yoda('I am home')

'home am I'

In [41]:
# Check
master_yoda('We are ready')

'ready are We'

#### ALMOST THERE: Given an integer n, return True if n is within 10 of either 100 or 200

    almost_there(90) --> True
    almost_there(104) --> True
    almost_there(150) --> False
    almost_there(209) --> True
    
NOTE: `abs(num)` returns the absolute value of a number

In [42]:
def almost_there(n):
    if abs((100-n))<=10 or abs((200-n))<=10:
        return True
    else:
        return False
    pass

In [43]:
# Check
almost_there(104)

True

In [44]:
# Check
almost_there(150)

False

In [45]:
# Check
almost_there(209)

True

# LEVEL 2 PROBLEMS

#### FIND 33: 

Given a list of ints, return True if the array contains a 3 next to a 3 somewhere.

    has_33([1, 3, 3]) → True
    has_33([1, 3, 1, 3]) → False
    has_33([3, 1, 3]) → False

In [46]:
def has_33(nums):
    for i in range(1,len(nums)):
        if nums[i]==nums[i-1]==3:
            return True
        else:
            continue
    return False
    pass

In [47]:
# Check
has_33([1, 3, 3])

True

In [48]:
# Check
has_33([1, 3, 1, 3])

False

In [49]:
# Check
has_33([3, 1, 3])

False

#### PAPER DOLL: Given a string, return a string where for every character in the original there are three characters
    paper_doll('Hello') --> 'HHHeeellllllooo'
    paper_doll('Mississippi') --> 'MMMiiissssssiiippppppiii'

In [50]:
def paper_doll(text):
    st=''
    for letter in text:
        st+=letter*3
    return st
    pass

In [51]:
# Check
paper_doll('Hello')

'HHHeeellllllooo'

In [52]:
# Check
paper_doll('Mississippi')

'MMMiiissssssiiissssssiiippppppiii'

#### BLACKJACK: Given three integers between 1 and 11, if their sum is less than or equal to 21, return their sum. If their sum exceeds 21 *and* there's an eleven, reduce the total sum by 10. Finally, if the sum (even after adjustment) exceeds 21, return 'BUST'
    blackjack(5,6,7) --> 18
    blackjack(9,9,9) --> 'BUST'
    blackjack(9,9,11) --> 19

In [55]:
def blackjack(a,b,c):
    if sum((a,b,c))<21:
        return sum((a,b,c))
    elif sum((a,b,c))>21 and (11 in (a,b,c)):
        return sum((a,b,c))-10
    else:
        return "BUST"
    pass

In [56]:
# Check
blackjack(5,6,7)

18

In [57]:
# Check
blackjack(9,9,9)

'BUST'

In [58]:
# Check
blackjack(9,9,11)

19

#### SUMMER OF '69: Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers.
 
    summer_69([1, 3, 5]) --> 9
    summer_69([4, 5, 6, 7, 8, 9]) --> 9
    summer_69([2, 1, 6, 9, 11]) --> 14

In [65]:
def summer_69(arr):
    ignor=False
    sum=0
    for num in arr:
        if ignor==True:
            if num==9:
                ignor=False
                continue
        else:
            if num==6:
                ignor=True
                continue
            else:
                sum+=num
    return sum
            
    pass

In [66]:
# Check
summer_69([1, 3, 5])

9

In [67]:
# Check
summer_69([4, 5, 6, 7, 8, 9])

9

In [68]:
# Check
summer_69([2, 1, 6, 9, 11])

14

# CHALLENGING PROBLEMS

#### SPY GAME: Write a function that takes in a list of integers and returns True if it contains 007 in order

     spy_game([1,2,4,0,0,7,5]) --> True
     spy_game([1,0,2,4,0,5,7]) --> True
     spy_game([1,7,2,0,4,5,0]) --> False

In [69]:
def spy_game(nums):
    count=0
    for num in nums:
        if (num==0) and (count in (0,1)):
            count+=1
        elif (num==7) and count==2:
            count+=1
        if count==3:
            return True
    return False
            
            
    pass

In [70]:
# Check
spy_game([1,2,4,0,0,7,5])

True

In [71]:
# Check
spy_game([1,0,2,4,0,5,7])

True

In [72]:
# Check
spy_game([1,7,2,0,4,5,0])

False

#### COUNT PRIMES: Write a function that returns the *number* of prime numbers that exist up to and including a given number
    count_primes(100) --> 25

By convention, 0 and 1 are not prime.

In [109]:
for i in range (2,4):
    if i%2==0:
        continue
    else:
        print (i,'yes')

3 yes

In [125]:
def count_primes(num):
    if num<2:
        count=0
    else:
        count=1
    for i in range(3,num+1):
        for j in range(2,int(i**(0.5)+2)):
            if i%j==0:
                break
            elif j==int(i**(0.5)+1):
                count+=1
    return count
                
            
            
            
    
    pass

In [131]:
def count_primes(num):
    if num<2:
        return 0
    else:
        primes=[True]*(num+1)
        primes[0:2]=[False]*2
        for i in range(2,int(num**(0.5)+1)):
            if primes[i]==True:
                primes[i*i:(num+1):i]=[False]*len( primes[i*i:(num+1):i])
        print(primes)
        return sum(primes)

In [132]:
# Check
count_primes(100)

[False, False, True, True, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, True, False, False, False, False, False, True, False, False, False, True, False, False, False, False, False, True, False, False, False, False, False, False, False, True, False, False, False]

25

### Just for fun:
#### PRINT BIG: Write a function that takes in a single letter, and returns a 5x5 representation of that letter
    print_big('a')
    
    out:   *  
          * *
         *****
         *   *
         *   *
HINT: Consider making a dictionary of possible patterns, and mapping the alphabet to specific 5-line combinations of patterns. <br>For purposes of this exercise, it's ok if your dictionary stops at "E".

In [ ]:
def print_big(letter):
    pass

In [ ]:
print_big('a')

## Great Job!